<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.js.mapper.registerMapper">
	<insert id="register">
		insert into login(id, pw, email, name, phone, postadd, roadadd, jibadd) 
		values(#{id},#{pw},#{email},#{name},#{phone},#{postadd},#{roadadd},#{jibadd})
	</insert>
	
 	<select id="idcheck" resultType="java.lang.Integer">
	    SELECT count(*)
    	FROM login 
    	WHERE id=#{id}
	</select>

  	<select id="read_profile" resultType="com.inhatc.vo.RegisterVO">
  		select *
  		from login
  		where id = #{id}
  	</select>
  	
  	<select id="read_memberlist" resultType="com.inhatc.vo.RegisterVO">
  		<![CDATA[
  		select *
  		from login
  		where id <> 'root'
  		]]> 
  	</select>
  	
	<update id="update_profile">
		update login
		set
		pw = #{pw},
		name = #{name},
		email = #{email},
		phone = #{phone},
		postadd = #{postadd},
		roadadd = #{roadadd},
		jibadd = #{jibadd}
		where id = #{id}
	</update>
	  			
	<delete id="delete_member">
		delete 
		from login
		where id = #{id}
	</delete>
</mapper>